/* 7个导航的样式 */
a{
  text-decoration : none;
}

.main-feed{
  position: relative;
  background: #fff;
}
.feed-fix{
  /* position: fixed;
  width: 375.2px;
  height: 0; */
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1100;
  border-bottom: 1px solid #eee;
  -webkit-transition: height .5s cubic-bezier(0.6,.03,.08,.95);
  transition: height .5s cubic-bezier(0.6,.03,.08,.95);
  overflow-x: scroll;
  white-space: nowrap;
  position: fixed;
  height: auto;
  zoom: 1;
}

.feed-nav{
  position: relative;
  width: 406px;
  height: 49px;
  padding-right: 17px;
  font-size: 0;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0ms;
  transform: translate(0px, 0px) translateZ(0px);

}
.feed-nav span{
  position: relative;
  float: left;
  line-height: 1;
  padding: 15px 12.5px 19px;
  font-size: 16px;
}

.feed-nav span a{
  color: #000;
  margin-bottom: 10px
}
.feed-nav span:nth-of-type(1) i{
  padding-left: 0;
}

.feed-nav span .active{
  color: #24a500;
}
