.feilei-top{
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  background-color: #fff;

  ul{
    display: flex;
    overflow: hidden;
    background: #fff;
    width: 100%;
    flex-wrap: wrap;

    li{
      width: 22%;
      margin-right: 10px;
      margin-top: 7px;
      overflow: hidden;
      color: #222;
      text-align: center;
      text-decoration: none;
      float: none;
      flex: 1 auto;
      height: 30px;
      line-height: 30px;
      border-color: #fff;
      border: 1px solid #eee;
      border-radius: 15px;
      font-size: 14px;
    }
  }
}
