.header {
  padding: 0 10px;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 18px;
  color: black;
  font-weight: 600
}
.header_img {
  height: 30px;
  width: 108px;
}
